<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="ar-sy" />
        <meta name="description" content="بيسب" />
        <title>My First Web Page</title>
    </head>
    <body>
        <h1>My Table</h1>
        <table>
            <tr>
                <th>Colorant</th>
                <th>Quantity In(Ltr)</th>
                <th>Quantity In(Ml)</th>
            </tr>
            {{#each data}}
            <tr>
                <td>{{ this.colorant }}</td>
                <td>{{ this.volume }}</td>
                <td>{{ this.volumeinml }}</td>
            </tr>
            {{/each}}
        </table>
    </body>
</html>
